<div class="center">
<div class="tasks">
<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <h3><i class="far fa-check-square"></i><%= link_to task.title, task_path(task) %></h3>
    <% else %>
    <h3><i class="far fa-square"></i><%= link_to task.title, task_path(task) %></h3>
    <% end %>
<% end %>
<div class="tasks"><i class="far fa-plus-square"><%= link_to "Add", new_task_path %></i></div>
  </div>
</div>
